@tailwind base;
@tailwind components;
/* General layout */

body {
  background-color: white;
  display: flex; 
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

/* Action buttons */

.actions {
  /* display: flex; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 720px;
  height: 50px;
  top: 0;
  position: fixed;

}

.action {
  color: darkgray;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  width: 120px;
}

.action:hover {
  background-color: darkgray;
  color: white;
  font-weight: 700;
}

.action[href=""] {
  display: none;
}

/* Connect Four board */

.board {
  background-color: blue;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  position: relative;
}

.board::before,
.board::after {
  background-color: blue;
  content: "";
  height: 600px;
  width: 20px;
  position: absolute;
}

.board::before {
  left: -10px;
}

.board::after {
  right: -10px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.cell {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.empty {
  background-color: white;
}

.column:hover .empty {
  background-color: lightgray;
}

.column:hover .empty ~ .empty {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.instructions{
  background-color: gray;
  width: 150px;
  float: left;
}

* {
  margin: 0;
  padding: 0;
}

/* body {
  margin: 20px auto;
  font-family: "Lato";
  font-weight: 300;
} */

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  font-family: "Lato";
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: 400px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 450px;
  width: 300px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

#chat-input {
  flex: 0.9;
  border-radius: 2px;
  border: 1px solid #ff9800;
  height: 35px;
}

#name {
  border-radius: 4px;
  border: 1px solid #ff9800;
  padding: 2px 8px;
}

#chat-button,
#enter{
  background: #ff9800;
  border: 2px solid #e65100;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 15px 25px;
  display: flex;
}

#menu p.welcome {
  flex: 1;
}

a#exit {
  color: white;
  background: #c62828;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.msgln {
  margin: 0 0 5px 0;
}

.msgln span.left-info {
  color: orangered;
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name, .msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: orangered;
}

@tailwind utilities;

#instructions {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: 400px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}
